services:
  voicevox_ros2:
    dns:
      - 1.1.1.1
      - 8.8.8.8
    build:
      context: .
      secrets:
        - gh_token
    container_name: voicevox_ros2
    devices:
      - "/dev/snd:/dev/snd"
    network_mode: host
    environment:
      - VOICEVOX_ENGINE_DIR=/voicevox_engine
    stdin_open: true
    tty: true
    command: >
      bash -lc "source /opt/ros/jazzy/setup.bash &&
                source /ros2_voicevox_ws/install/setup.bash &&
                ros2 run voicevox_ros2 tts_node
                  --ros-args
                  -p engine_dir:=/voicevox_engine
                  -p vvm_file:=0.vvm
                  -p style_id:=0"
secrets:
  gh_token:
    file: .gh_token
